:root
{
    --azul-logo: rgb(0, 88, 250);
    --roxo-logo: rgb(60, 14, 241);
    --azulalt: rgb(22, 248, 250);
    --titulo-01: rgb(51, 51, 51);
    --corpo-01: rgb(89, 89, 89);
    --legenda-01: rgb(115, 115, 115);
    --desabilitado: rgb(179, 179, 179);
    --links: rgb(60, 14, 241);
    --erro: rgb(248, 34, 17);
    --aviso: rgb(248, 247, 17);
    --sucesso:rgb(42, 251, 13);

}

.pageC
{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #E7E9F1;
    margin: 0;
}
/*menu*/
.menu
{
    font-family: 'ExoBold';
    font-style: normal;
    position: relative;
    width: 100%;
    left: 0px;
    top: 0px;
    height: 71px;
    align-items: center;
    background: #FFFFFF;
    display: flex;
}
.menu ul 
{
    list-style-type: none;
    padding: 0;
    background-color: rgb(255, 255, 255);
    display: flex; 
    list-style: none;
    margin: 0;
    height: 71px;
    align-items: center;
}
.menu ul li
{
    display: inline-block;
    position: relative;
    margin: 0;
    margin-right: 10px;
    left: 75px
}

.menu ul li a:hover
{
    color: var(--azulalt);
}
.menu ul li a 
{
    color: var(--azul-logo);
    text-decoration: none;
    padding: 0px;
    display: inline-block;
    transition: color 0.2s;
    font-size: 25px;
    margin: 0px;
    margin-right: 15px;
    font-family: 'ExoBold';
}

.menu ul ul
{
    position: absolute;
    display: none;
    left: 0;
}

.pageC h1
{
    margin-left: 26px;
    margin: 0;
    font-family: 'ExoBold';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
    color: #0058FA;
    margin-left: 21px;
    margin-top: 20px;
}

#calculator
{
    position: absolute;
    width: 712px;
    height: 398px;
    left: calc(50% - 712px/2);
    top: 261px;
    background: #FFFFFF;
    border-radius: 12px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border-radius: 12px;
    flex-direction: column;
    margin-bottom: 159px;
}
#calculator h2
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #0058FA;
}

#calculator input 
{
    width: 328px;
    height: 49px;
    margin-bottom: 20px;
    display:inline;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}
#calculator button
{
    border: 1px solid #000000;
    border-radius: 12px;
    width: 298px;
    height: 40px;
    background: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #0058FA;
    margin-top: 25px;
}

#result
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-top: 17px;
    margin-bottom: 25px;
}

.ilustracao {
    position: relative;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.ilustracao img {
    position: absolute;

    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
   
}

@media (max-width: 768px) {
    .menu {
        height: auto;
    }

    .menu ul {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .menu ul li {
        display: block;
        margin: 10px 0;
    }

    .menu ul li a {
        margin: 0;
        font-size: 20px;
    }
}

@media (max-width: 480px) 
{
    .menu ul li a 
    {
        font-size: 18px;
    }
}